@font-face {
  font-family: "iconfont"; /* Project id 2351420 */
  src: url('./iconfont.woff2?t=1621572625599') format('woff2'),
       url('./iconfont.woff?t=1621572625599') format('woff'),
       url('./iconfont.ttf?t=1621572625599') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon27:before {
  content: "\e67d";
}

.icon26:before {
  content: "\e601";
}

.icon25:before {
  content: "\e651";
}

.icon24:before {
  content: "\e603";
}

.icon23:before {
  content: "\e606";
}

.icon22:before {
  content: "\e90b";
}

.icon21:before {
  content: "\e627";
}

.icon20:before {
  content: "\e60e";
}

.icon19:before {
  content: "\e605";
}

.icon18:before {
  content: "\e60b";
}

.icon17:before {
  content: "\e60a";
}

.icon16:before {
  content: "\e724";
}

.icon15:before {
  content: "\e72f";
}

.icon14:before {
  content: "\ec4f";
}

.icon13:before {
  content: "\e60f";
}

.icon12:before {
  content: "\e607";
}

.icon11:before {
  content: "\e6c4";
}

.icon10:before {
  content: "\e61b";
}

.icon9:before {
  content: "\e68a";
}

.icon8:before {
  content: "\e63b";
}

.icon7:before {
  content: "\e609";
}

.icon6:before {
  content: "\e60c";
}

.icon5:before {
  content: "\e60d";
}

.icon4:before {
  content: "\e672";
}

.icon3:before {
  content: "\e7b8";
}

.icon2:before {
  content: "\e608";
}

.icon1:before {
  content: "\e743";
}

