<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Hotera - Hotel and Restaurant HTML Template | Beach Hotel</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<!-- Responsive File -->
<link href="css/responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Responsive Settings -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"><div class="icon"></div></div>

    <!-- Main Header -->
    <header class="main-header header-style-one">

        <!-- Header Upper -->
        <div class="header-upper">
            <div class="inner-container clearfix">
                <!--Logo-->
                <div class="logo-box">
                    <div class="logo"><a href="index.html" title="Hotera - Hotel and Restaurant HTML Template"><img src="images/logo.png" alt="Hotera - Hotel and Restaurant HTML Template" title="Hotera - Hotel and Restaurant HTML Template"></a></div>
                </div>
                <div class="nav-outer clearfix">
                    <!--Mobile Navigation Toggler-->
                     <div class="mobile-nav-toggler"><span class="icon flaticon-menu-2"></span><span class="txt">Menu</span></div>

                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md navbar-light">
                        <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li class="current dropdown"><a href="index.html">Home</a>
                                    <ul>
                                        <li><a href="index.html">Hotel Beach</a></li>
                                        <li><a href="index-2.html">City Hotel</a></li>
                                        <li><a href="index-3.html">Mountain Hotel</a></li>
                                        <li><a href="index-4.html">Luxury Hotel</a></li>
                                        <li><a href="index-5.html">Resort Hotel</a></li>
                                        <li class="dropdown"><a href="index.html">Header Styles</a>
                                            <ul>
                                                <li><a href="index.html">Header Type 01</a></li>
                                                <li><a href="index-2.html">Header Type 02</a></li>
                                                <li><a href="index-3.html">Header Type 03</a></li>
                                                <li><a href="index-4.html">Header Type 04</a></li>
                                                <li><a href="index-5.html">Header Type 05</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li  class="dropdown"><a href="rooms-grid.html">Rooms</a>
                                    <ul>
                                        <li><a href="rooms-grid.html">Rooms Grid View</a></li>
                                        <li><a href="rooms-list.html">Rooms List View</a></li>
                                        <li><a href="rooms-gallery.html">Rooms Gallery</a></li>
                                        <li><a href="room-single.html">Room Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About Us</a></li>
                                <li  class="dropdown"><a href="rooms-grid.html">Pages</a>
                                    <ul>
                                        <li><a href="team.html">Our Staff</a></li>
                                        <li class="dropdown"><a href="packages.html">Packages</a>
                                            <ul>
                                                <li><a href="packages.html">All Packages</a></li>
                                                <li><a href="package-single.html">Package Single</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="events.html">Events</a>
                                            <ul>
                                                <li><a href="events.html">All Events</a></li>
                                                <li><a href="event-single.html">Event Single</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="gallery.html">Gallery</a>
                                            <ul>
                                                <li><a href="gallery.html">Gallery Default</a></li>
                                                <li><a href="gallery-masonry.html">Gallery Masonry</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="restaurant.html">Restaurant</a></li>
                                        <li><a href="spa.html">Spa & Wellness</a></li>
                                    </ul>
                                </li>
                                <li  class="dropdown"><a href="blog-grid.html">News</a>
                                    <ul>
                                        <li><a href="blog.html">Blog Sidebar</a></li>
                                        <li><a href="blog-grid.html">Blog 03 Column</a></li>
                                        <li><a href="blog-single.html">Blog Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <div class="other-links clearfix">
                    <div class="info">
                        <ul class="clearfix">
                            <li><a href="#"><span class="icon flaticon-padlock"></span><span class="txt">Login</span></a></li>
                            <li><a href="te:+502542163754"><span class="icon flaticon-smartphone-2"></span><span class="txt">+50 254 216 3754</span></a></li>
                        </ul>
                    </div>
                    <div class="link-box">
                        <a href="room-single.html" class="theme-btn btn-style-one"><span class="btn-title">Book Your Stay</span></a>
                    </div>
                </div>

            </div>
        </div>
        <!--End Header Upper-->

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="close-btn"><span class="icon flaticon-targeting-cross"></span></div>
            <div class="menu-backdrop"></div>
            <div class="nav-logo"><a href="index.html"><img src="images/nav-logo.png" alt="" title=""></a></div>
            <nav class="menu-box">
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
            </nav>
            <div class="nav-bottom">
                <div class="copyright">Hotera  &copy;  2020 All Right Reserved</div>
                <!--Social Links-->
                <div class="social-links">
                    <ul class="clearfix">
                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-vimeo-v"></span></a></li>
                    </ul>
                </div>
            </div>
        </div><!-- End Mobile Menu -->

    </header>
    <!-- End Main Header -->


    <!-- Banner Section -->
    <section class="banner-section banner-one">
        <div class="banner-bottom-pattern"></div>

		<div class="banner-carousel owl-theme owl-carousel">
            <!-- Slide Item -->
			<div class="slide-item">
                <div class="image-layer" style="background-image: url(images/main-slider/1.jpg);"></div>
				<div class="auto-container">
					<div class="content-box">
                        <div class="content">
                            <div class="inner">
        						<h1>Coolest Beach <br>Hotels in the USA</h1>
                                <div class="text">Amet consectetur adipisicing elit sed do eiusmod tempor incididunt adipisicing</div>
                            </div>
                        </div>
					</div>  
				</div>
			</div>

			<!-- Slide Item -->
            <div class="slide-item">
                <div class="image-layer" style="background-image: url(images/main-slider/2.jpg);"></div>
                <div class="auto-container">
                    <div class="content-box">
                        <div class="content">
                            <div class="inner">
                                <h1>Coolest Beach <br>Hotels in the USA</h1>
                                <div class="text">Amet consectetur adipisicing elit sed do eiusmod tempor incididunt adipisicing</div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>

			<!-- Slide Item -->
            <div class="slide-item">
                <div class="image-layer" style="background-image: url(images/main-slider/3.jpg);"></div>
                <div class="auto-container">
                    <div class="content-box">
                        <div class="content">
                            <div class="inner">
                                <h1>Coolest Beach <br>Hotels in the USA</h1>
                                <div class="text">Amet consectetur adipisicing elit sed do eiusmod tempor incididunt adipisicing</div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>

		</div>
    </section>
    <!--End Banner Section -->

	<!--About Section-->
    <section class="about-section">
        <div class="pattern-bottom"></div>
        <span class="dotted-pattern dotted-pattern-1"></span>
        <span class="tri-pattern tri-pattern-1"></span>
        <div class="auto-container">
            <!--Filters Section-->
            <div class="filters-section">
                <div class="form-box default-form filter-form wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <form method="post" action="room-single.html">
                        <div class="row clearfix">
                            <div class="form-group col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                <div class="field-label">Arrival</div>
                                <div class="field-inner">
                                    <input id="arrival-date" class="date-picker" type="text" name="field-name" value="Nov 02. 2019" placeholder="">
                                    <label for="arrival-date" class="icon flaticon-down-arrow"></label>
                                </div>
                            </div>
                            <div class="form-group col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                <div class="field-label">Departure</div>
                                <div class="field-inner">
                                    <input id="depart-date" class="date-picker" type="text" name="field-name" value="Nov 12. 2019" placeholder="">
                                    <label for="depart-date" class="icon flaticon-down-arrow"></label>
                                </div>
                            </div>
                            <div class="form-group col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                <div class="field-label">Guests</div>
                                <div class="field-inner">
                                    <div class="check-sel-box">
                                        <div class="check-sel-btn">
                                            <span class="adult-info">2 Adults.</span>
                                            <span class="child-info">1 Children</span>
                                        </div>
                                        <ul class="check-sel-droplist">
                                            <li>
                                                <div class="sel-title">Select Adults:</div>
                                                <div class="clearfix">
                                                    <div class="radio-block adult-block"><input type="radio" name="adult-group" id="radio-1" value="1 Adults."><label for="radio-1">1</label></div>
                                                    <div class="radio-block adult-block"><input type="radio" name="adult-group" id="radio-2" value="2 Adults." checked=""><label for="radio-2">2</label></div>
                                                    <div class="radio-block adult-block"><input type="radio" name="adult-group" id="radio-3" value="3 Adults."><label for="radio-3">3</label></div>
                                                    <div class="radio-block adult-block"><input type="radio" name="adult-group" id="radio-4" value="4 Adults."><label for="radio-4">4</label></div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="sel-title">Select Children:</div>
                                                <div class="clearfix">
                                                    <div class="radio-block child-block"><input type="radio" name="child-group" id="radio-5" value="1 Children" checked=""><label for="radio-5">1</label></div>
                                                    <div class="radio-block child-block"><input type="radio" name="child-group" id="radio-6" value="2 Children"><label for="radio-6">2</label></div>
                                                    <div class="radio-block child-block"><input type="radio" name="child-group" id="radio-7" value="3 Children"><label for="radio-7">3</label></div>
                                                    <div class="radio-block child-block"><input type="radio" name="child-group" id="radio-8" value="4 Children"><label for="radio-8">4</label></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                <div class="field-label e-label">&nbsp;</div>
                                <div class="field-inner">
                                    <button class="theme-btn btn-style-one"><span class="btn-title">Check Availability</span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        	<div class="row clearfix">
                <!--Text Column-->
                <div class="text-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="sec-title">
                            <h2>Quality <br>Holidays With Us</h2>
                        </div>
                        <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        <div class="link-box">
                            <a href="about.html" class="theme-btn btn-style-one"><span class="btn-title">Read More</span></a>
                        </div>
                    </div>
                </div>
                <!--Image Column-->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image-box">
                            <span class="dotted-pattern dotted-pattern-2"></span>
                            <figure class="image"><img src="images/resource/featured-image-0.jpg" alt="" title=""></figure>
                            <div class="cap"><span class="txt">25 <br>Years <br>of <br>Exp.</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Facts Section-->
    <section class="facts-section">
        <span class="dotted-pattern dotted-pattern-3"></span>
        <div class="left-bottom-image"><img src="images/resource/chair-umbrella.png" alt="" title=""></div>
        <div class="auto-container">
            <div class="row clearfix">
                <!--Title Column-->
                <div class="title-column col-xl-7 col-lg-6 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="sec-title">
                            <h2>Always Ready <br>to Take Challange</h2>
                            <div class="lower-text">Lorem ipsum dolor sit consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore dolore magna aliqua. enim ad minim veniam quis nostrud exercitation.</div>
                        </div>
                        
                    </div>
                </div>
                <!--Facts Column-->
                <div class="facts-column col-xl-5 col-lg-6 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="facts">
                            <div class="fact-block">
                                <div class="fact-inner">
                                    <div class="fact-count wow zoomInStable" data-wow-delay="0ms" data-wow-duration="2000ms"><div class="count-box"><span class="count-text" data-stop="25" data-speed="2000">0</span>+</div></div>
                                    <h4>Years Exp.</h4>
                                    <div class="text">Excepteur sint occaecat cupidatat proi dent in sunt.</div>
                                </div>
                            </div>
                            <div class="fact-block">
                                <div class="fact-inner">
                                    <div class="fact-count wow zoomInStable" data-wow-delay="0ms" data-wow-duration="2000ms"><div class="count-box"><span class="count-text" data-stop="712" data-speed="5000">0</span></div></div>
                                    <h4>Project Done</h4>
                                    <div class="text">Excepteur sint occaecat cupidatat proi dent in sunt.</div>
                                </div>
                            </div>
                            <div class="fact-block">
                                <div class="fact-inner">
                                    <div class="fact-count wow zoomInStable" data-wow-delay="0ms" data-wow-duration="2000ms"><div class="count-box"><span class="count-text" data-stop="310" data-speed="4000">0</span></div></div>
                                    <h4>Awards Win</h4>
                                    <div class="text">Excepteur sint occaecat cupidatat proi dent in sunt.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <div class="dashed-separator"><div class="auto-container"><span></span></div></div>

    <!--Rooms Section-->
    <section class="rooms-section-one">
        <div class="outer-container">
            <div class="auto-container">
                <div class="sec-title centered">
                    <h2>Room & Suites</h2>
                    <div class="lower-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="column col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="room-block-one height-one wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="image-layer" style="background-image: url(images/gallery/1.jpg);"></div>
                                <figure class="image"><img src="images/gallery/1.jpg" alt="" title=""></figure>
                            </div>
                            <div class="cap-box">
                                <div class="cap-inner">
                                    <div class="price">From <span>$50.00</span></div>
                                    <h5>Balcony Room</h5>
                                </div>
                            </div>
                            <div class="hover-box">
                                <div class="hover-inner">
                                    <h4>Balcony Room</h4>
                                    <div class="pricing clearfix">
                                        <div class="price">From <span>$50.00</span></div>
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    </div>

                                    <div class="text">Excepteur sint occaecat cupidatat pro dent in sun in culpa qui officia deserunt mollit anim.</div>
                                    <div class="link-box"><a href="room-single.html" class="theme-btn btn-style-one"><span class="btn-title">Check Availability</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="room-block-one height-one wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="image-layer" style="background-image: url(images/gallery/2.jpg);"></div>
                                <figure class="image"><img src="images/gallery/2.jpg" alt="" title=""></figure>
                            </div>
                            <div class="cap-box">
                                <div class="cap-inner">
                                    <div class="price">From <span>$50.00</span></div>
                                    <h5>Sea View Room</h5>
                                </div>
                            </div>
                            <div class="hover-box">
                                <div class="hover-inner">
                                    <h4>Sea View Room</h4>
                                    <div class="pricing clearfix">
                                        <div class="price">From <span>$50.00</span></div>
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    </div>

                                    <div class="text">Excepteur sint occaecat cupidatat pro dent in sun in culpa qui officia deserunt mollit anim.</div>
                                    <div class="link-box"><a href="room-single.html" class="theme-btn btn-style-one"><span class="btn-title">Check Availability</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="room-block-one height-two wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="image-layer" style="background-image: url(images/gallery/3.jpg);"></div>
                                <figure class="image"><img src="images/gallery/3.jpg" alt="" title=""></figure>
                            </div>
                            <div class="cap-box">
                                <div class="cap-inner">
                                    <div class="price">From <span>$50.00</span></div>
                                    <h5>Superior Room</h5>
                                </div>
                            </div>
                            <div class="hover-box">
                                <div class="hover-inner">
                                    <h4>Superior Room</h4>
                                    <div class="pricing clearfix">
                                        <div class="price">From <span>$50.00</span></div>
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    </div>

                                    <div class="text">Excepteur sint occaecat cupidatat pro dent in sun in culpa qui officia deserunt mollit anim.</div>
                                    <div class="link-box"><a href="room-single.html" class="theme-btn btn-style-one"><span class="btn-title">Check Availability</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="room-block-one height-one wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="image-layer" style="background-image: url(images/gallery/4.jpg);"></div>
                                <figure class="image"><img src="images/gallery/4.jpg" alt="" title=""></figure>
                            </div>
                            <div class="cap-box">
                                <div class="cap-inner">
                                    <div class="price">From <span>$50.00</span></div>
                                    <h5>Deluxe Room</h5>
                                </div>
                            </div>
                            <div class="hover-box">
                                <div class="hover-inner">
                                    <h4>Deluxe Room</h4>
                                    <div class="pricing clearfix">
                                        <div class="price">From <span>$50.00</span></div>
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    </div>

                                    <div class="text">Excepteur sint occaecat cupidatat pro dent in sun in culpa qui officia deserunt mollit anim.</div>
                                    <div class="link-box"><a href="room-single.html" class="theme-btn btn-style-one"><span class="btn-title">Check Availability</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="room-block-one height-one wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="image-layer" style="background-image: url(images/gallery/5.jpg);"></div>
                                <figure class="image"><img src="images/gallery/5.jpg" alt="" title=""></figure>
                            </div>
                            <div class="cap-box">
                                <div class="cap-inner">
                                    <div class="price">From <span>$50.00</span></div>
                                    <h5>Luxury Suite Room</h5>
                                </div>
                            </div>
                            <div class="hover-box">
                                <div class="hover-inner">
                                    <h4>Luxury Suite Room</h4>
                                    <div class="pricing clearfix">
                                        <div class="price">From <span>$50.00</span></div>
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    </div>

                                    <div class="text">Excepteur sint occaecat cupidatat pro dent in sun in culpa qui officia deserunt mollit anim.</div>
                                    <div class="link-box"><a href="room-single.html" class="theme-btn btn-style-one"><span class="btn-title">Check Availability</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--Offers Section-->
    <section class="offers-section-one">
        <div class="auto-container">

            <div class="upper-box clearfix">
                <div class="sec-title">
                    <h2>Hotera <br>Special Offers</h2>
                    <div class="lower-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</div>
                </div>
                <div class="link-box">
                    <a href="packages.html" class="theme-btn btn-style-one"><span class="btn-title">View All Offers</span></a>
                </div>
            </div>

            <div class="row clearfix">
                <div class="offers-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="offer-block">
                            <div class="offer-inner">
                                <div class="fact-thumb wow zoomInStable" data-wow-delay="0ms" data-wow-duration="1500ms"><div class="image"><img src="images/resource/of-thumb-1.jpg" alt="" title=""></div><span>30% <br>off</span></div>
                                <div class="price">Start From: <span>$50.00</span></div>
                                <h4>Honeymoon Package</h4>
                                <div class="text">Excepteur sint occaecat cupidatat proi dent in sunt.</div>
                                <a href="package-single.html" class="over-link"></a>
                            </div>
                        </div>
                        <div class="offer-block">
                            <div class="offer-inner">
                                <div class="fact-thumb wow zoomInStable" data-wow-delay="300ms" data-wow-duration="1500ms"><div class="image"><img src="images/resource/of-thumb-1.jpg" alt="" title=""></div><span>30% <br>off</span></div>
                                <div class="price">Start From: <span>$50.00</span></div>
                                <h4>Free Breakfast Package</h4>
                                <div class="text">Excepteur sint occaecat cupidatat proi dent in sunt.</div>
                                <a href="package-single.html" class="over-link"></a>
                            </div>
                        </div>
                        <div class="offer-block">
                            <div class="offer-inner">
                                <div class="fact-thumb wow zoomInStable" data-wow-delay="600ms" data-wow-duration="1500ms"><div class="image"><img src="images/resource/of-thumb-1.jpg" alt="" title=""></div><span>30% <br>off</span></div>
                                <div class="price">Start From: <span>$50.00</span></div>
                                <h4>Facial Treatments</h4>
                                <div class="text">Excepteur sint occaecat cupidatat proi dent in sunt.</div>
                                <a href="package-single.html" class="over-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="images-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner">
                        <span class="dotted-pattern dotted-pattern-4"></span>
                        <div class="images">
                            <div class="image wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms"><img src="images/resource/featured-image-1.jpg" alt="" title=""></div>
                            <div class="image wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms"><img src="images/resource/featured-image-2.jpg" alt="" title=""></div>
                            <div class="image wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms"><img src="images/resource/featured-image-3.jpg" alt="" title=""></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!--Featured Section-->
    <section class="featured-section">
        <div class="pattern-top"></div>
        <span class="dotted-pattern dotted-pattern-3"></span>
        <span class="tri-pattern tri-pattern-3"></span>
        <div class="auto-container">
            <div class="featured-block">
                <div class="row clearfix">
                    <!--Text Column-->
                    <div class="text-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <h3>Discover a New <br>Look of Luxury Hotel.</h3>
                            <div class="text">Lorem ipsum dolor sit amet constur adipisicing elit sed do eiusmtem por incid  dolore magna aliqu enim ad minim veniam quis nostrud exer cittion ullamco laboris nisi ut aliquip excepteur.</div>
                            <div class="link-box">
                                <a href="about.html" class="theme-btn btn-style-one"><span class="btn-title">Read More</span></a>
                            </div>
                        </div>
                    </div>
                    <!--Image Column-->
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="image-box">
                                <figure class="image"><a href="#"><img src="images/resource/featured-image-4.jpg" alt="" title=""></a></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="featured-block alternate">
                <div class="row clearfix">
                    <!--Text Column-->
                    <div class="text-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <h3>Finest Beatch Resort <br>in Santorini.</h3>
                            <div class="text">Lorem ipsum dolor sit amet constur adipisicing elit sed do eiusmtem por incid  dolore magna aliqu enim ad minim veniam quis nostrud exer cittion ullamco laboris nisi ut aliquip excepteur.</div>
                            <div class="link-box">
                                <a href="about.html" class="theme-btn btn-style-one"><span class="btn-title">Discover Now</span></a>
                            </div>
                        </div>
                    </div>
                    <!--Image Column-->
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="image-box">
                                <figure class="image"><a href="#"><img src="images/resource/featured-image-5.jpg" alt="" title=""></a></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Video Section-->
    <section class="video-section">
        <div class="image-layer" style="background-image: url(images/background/image-1.jpg);"></div>
        <div class="auto-container">
            <div class="content-box wow zoomIn" data-wow-delay="0ms" data-wow-duration="2000ms">
                <h1>See The Experience Before You Feel it.</h1>
                <div class="play-link"><a href="https://www.youtube.com/watch?v=Get7rqXYrbQ" class="lightbox-image"><span class="icon flaticon-play-button-3"></span></a></div>
            </div>
        </div>
    </section>

    <!--Testimonials Section-->
    <section class="testimonials-section">
        <span class="dotted-pattern dotted-pattern-3"></span>
        <span class="tri-pattern tri-pattern-2"></span>
        <div class="auto-container">
            <div class="sec-title centered">
                <h2>What People Say?</h2>
                <div class="lower-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</div>
            </div>

            <div class="carousel-box">
                <div class="testimonial-carousel owl-theme owl-carousel">
                    <div class="testimonial-block">
                        <div class="inner">
                            <div class="content-box">
                                <div class="content">
                                    <div class="quote-icon"><span class="flaticon-quote-1"></span></div>
                                    <div class="text">Lorem ipsum dolor sit amet consectetur adipis elit eiusmod tempor incidunt sed labore dolore magna.</div>
                                </div>
                            </div>
                            
                            <div class="info">
                                <div class="image"><img src="images/resource/testi-thumb-1.jpg" alt=""></div>
                                <div class="name">Mark Adams</div>
                                <div class="designation">Designer</div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block">
                        <div class="inner">
                            <div class="content-box">
                                <div class="content">
                                    <div class="quote-icon"><span class="flaticon-quote-1"></span></div>
                                    <div class="text">Lorem ipsum dolor sit amet consectetur adipis elit eiusmod tempor incidunt sed labore dolore magna.</div>
                                </div>
                            </div>
                            
                            <div class="info">
                                <div class="image"><img src="images/resource/testi-thumb-2.jpg" alt=""></div>
                                <div class="name">Fiona Edwards</div>
                                <div class="designation">Developer</div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block">
                        <div class="inner">
                            <div class="content-box">
                                <div class="content">
                                    <div class="quote-icon"><span class="flaticon-quote-1"></span></div>
                                    <div class="text">Lorem ipsum dolor sit amet consectetur adipis elit eiusmod tempor incidunt sed labore dolore magna.</div>
                                </div>
                            </div>
                            
                            <div class="info">
                                <div class="image"><img src="images/resource/testi-thumb-3.jpg" alt=""></div>
                                <div class="name">Dominic Allen</div>
                                <div class="designation">Designer</div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block">
                        <div class="inner">
                            <div class="content-box">
                                <div class="content">
                                    <div class="quote-icon"><span class="flaticon-quote-1"></span></div>
                                    <div class="text">Lorem ipsum dolor sit amet consectetur adipis elit eiusmod tempor incidunt sed labore dolore magna.</div>
                                </div>
                            </div>
                            
                            <div class="info">
                                <div class="image"><img src="images/resource/testi-thumb-1.jpg" alt=""></div>
                                <div class="name">Mark Adams</div>
                                <div class="designation">Designer</div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block">
                        <div class="inner">
                            <div class="content-box">
                                <div class="content">
                                    <div class="quote-icon"><span class="flaticon-quote-1"></span></div>
                                    <div class="text">Lorem ipsum dolor sit amet consectetur adipis elit eiusmod tempor incidunt sed labore dolore magna.</div>
                                </div>
                            </div>
                            
                            <div class="info">
                                <div class="image"><img src="images/resource/testi-thumb-2.jpg" alt=""></div>
                                <div class="name">Fiona Edwards</div>
                                <div class="designation">Developer</div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block">
                        <div class="inner">
                            <div class="content-box">
                                <div class="content">
                                    <div class="quote-icon"><span class="flaticon-quote-1"></span></div>
                                    <div class="text">Lorem ipsum dolor sit amet consectetur adipis elit eiusmod tempor incidunt sed labore dolore magna.</div>
                                </div>
                            </div>
                            
                            <div class="info">
                                <div class="image"><img src="images/resource/testi-thumb-3.jpg" alt=""></div>
                                <div class="name">Dominic Allen</div>
                                <div class="designation">Designer</div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block">
                        <div class="inner">
                            <div class="content-box">
                                <div class="content">
                                    <div class="quote-icon"><span class="flaticon-quote-1"></span></div>
                                    <div class="text">Lorem ipsum dolor sit amet consectetur adipis elit eiusmod tempor incidunt sed labore dolore magna.</div>
                                </div>
                            </div>
                            
                            <div class="info">
                                <div class="image"><img src="images/resource/testi-thumb-1.jpg" alt=""></div>
                                <div class="name">Mark Adams</div>
                                <div class="designation">Designer</div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block">
                        <div class="inner">
                            <div class="content-box">
                                <div class="content">
                                    <div class="quote-icon"><span class="flaticon-quote-1"></span></div>
                                    <div class="text">Lorem ipsum dolor sit amet consectetur adipis elit eiusmod tempor incidunt sed labore dolore magna.</div>
                                </div>
                            </div>
                            
                            <div class="info">
                                <div class="image"><img src="images/resource/testi-thumb-2.jpg" alt=""></div>
                                <div class="name">Fiona Edwards</div>
                                <div class="designation">Developer</div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block">
                        <div class="inner">
                            <div class="content-box">
                                <div class="content">
                                    <div class="quote-icon"><span class="flaticon-quote-1"></span></div>
                                    <div class="text">Lorem ipsum dolor sit amet consectetur adipis elit eiusmod tempor incidunt sed labore dolore magna.</div>
                                </div>
                            </div>
                            
                            <div class="info">
                                <div class="image"><img src="images/resource/testi-thumb-3.jpg" alt=""></div>
                                <div class="name">Dominic Allen</div>
                                <div class="designation">Designer</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!--News Section-->
    <section class="news-section">
        <div class="pattern-top"></div>
        <div class="auto-container">
            <div class="upper-box clearfix">
                <div class="sec-title">
                    <h2>Stay Update <br>with Hotera</h2>
                    <div class="lower-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
                <div class="link-box">
                    <a href="blog.html" class="theme-btn btn-style-one"><span class="btn-title">View All Post</span></a>
                </div>
            </div>
            <div class="row clearfix">
                <!--News Block-->
                <div class="news-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image-box">
                            <figure class="image"><a href="blog-single.html"><img src="images/resource/news-image-1.jpg" alt="" title=""></a></figure>
                        </div>
                        <div class="post-meta">
                            <span>on 2 Sep, 2019  /  by admin</span>
                        </div>
                        <h4><a href="blog-single.html">Disclosing the Secrets of Success in Hotera.</a></h4>
                        <div class="link-box">
                            <a href="blog-single.html"><span class="icon flaticon-arrows-10"></span>Read More</a>
                        </div>
                    </div>
                </div>
                <!--News Block-->
                <div class="news-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="image-box">
                            <figure class="image"><a href="blog-single.html"><img src="images/resource/news-image-2.jpg" alt="" title=""></a></figure>
                        </div>
                        <div class="post-meta">
                            <span>on 2 Sep, 2019  /  by admin</span>
                        </div>
                        <h4><a href="blog-single.html">The Top Hotel Trends to Watch in 2020.</a></h4>
                        <div class="link-box">
                            <a href="blog-single.html"><span class="icon flaticon-arrows-10"></span>Read More</a>
                        </div>
                    </div>
                </div>
                <!--News Block-->
                <div class="news-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="image-box">
                            <figure class="image"><a href="blog-single.html"><img src="images/resource/news-image-3.jpg" alt="" title=""></a></figure>
                        </div>
                        <div class="post-meta">
                            <span>on 2 Sep, 2019  /  by admin</span>
                        </div>
                        <h4><a href="blog-single.html">Seven Best Things To Do In Buckeye Arizona.</a></h4>
                        <div class="link-box">
                            <a href="blog-single.html"><span class="icon flaticon-arrows-10"></span>Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Main Footer -->
    <footer class="main-footer">
        <div class="top-pattern-layer-dark"></div>
        
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="auto-container">
                <div class="row clearfix">
                    
                    <!--Column-->
                    <div class="column col-xl-3 col-lg-12 col-md-12 col-sm-12">
                        <div class="footer-widget about-widget">
                            <div class="logo">
                                <a href="#"><img src="images/footer-logo.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    
                    <!--Column-->
                    <div class="column col-xl-5 col-lg-8 col-md-12 col-sm-12">
                        <div class="footer-widget links-widget">
                            <div class="widget-content">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="widget-title">
                                            <h4>Services</h4>
                                        </div>
                                        <ul class="links">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="rooms-grid.html">Our Rooms</a></li>
                                            <li><a href="restaurant.html">Restaurant</a></li>
                                            <li><a href="about.html">About Hotera</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="widget-title">
                                            <h4>Contact</h4>
                                        </div>
                                        <ul class="info">
                                            <li class="address">Flat 20, Reynolds Neck, North Helenaville, FV77 8WS</li>
                                            <li class="phone"><a href="tel:+2(305)587-3407">+2(305) 587-3407</a></li>
                                            <li class="email"><a href="mailto:info@hotera.com">info@hotera.com</a></li>
                                            <li class="social-links">
                                                <a href="#"><span class="fab fa-facebook-f"></span></a>
                                                <a href="#"><span class="fab fa-twitter"></span></a>
                                                <a href="#"><span class="fab fa-vimeo-v"></span></a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="column col-xl-4 col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget newsletter-widget">
                            <div class="widget-title">
                                <h4>Newsletter</h4>
                            </div>
                            <div class="text">Eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                            <!--Newsletter-->
                            <div class="newsletter-form">
                                <form method="post" action="contact.html">
                                    <div class="form-group clearfix">
                                        <input type="email" name="email" value="" placeholder="Email" required>
                                        <button type="submit" class="theme-btn btn-style-one"><span class="btn-title">Send Now</span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="inner clearfix">
                    <div class="copyright">&copy; 2020 Hotera - All Right Reserved</div>
                    <div class="bottom-links">
                        <a href="#">Terms of Service</a> &ensp;|&ensp; <a href="#">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
        
    </footer>

</div>
<!--End pagewrapper--><!--Scroll to top--><div class="scroll-to-top scroll-to-target" data-target="html"><span class="flaticon-up-arrow"></span></div>

<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/owl.js"></script>
<script src="js/scrollbar.js"></script>
<script src="js/appear.js"></script>
<script src="js/wow.js"></script>
<script src="js/custom-script.js"></script>

</body>
</html>